<h2>Character</h2>

<button class="career-button"
        type="button">Career</button>
  <select>
    <option>Factory Worker</option>
    <option>Farmer</option>
    <option>Engineer</option>
    <option>Ministry of LAWLZ</option>
    <option>Ministry of BFFs</option>
    <option>Homemaker</option>
  </select>

<h2>Nav Buttons</h2>
<!--  Back Button should be greyed out on this page -->
<button class="back-button"
        type="button"
        ui-sref="dashboard">Back</button>
<button class="store-button"
        type="button"
        ui-sref="store">Store</button>
<button class="next-button"
        type="button"
        ui-sref="name">Name</button>
