.store-item-description {
  position: relative;
  width: 350px;
  height: 150px;
  background-color: white;
  text-align: center;
  vertical-align: middle;
  border-radius: 15px;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.store-item-description .add-to-cart-button {
  border: 3px solid goldenrod;
  height: 50px;
  background-color: white;
  width: 150px;
}
