.name-input {
  display: flex;
  flex-direction: column;
  background-color: royalblue;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  height: 200px;
  width: 380px;
  border-radius: 15px;
  border: 5px solid white;
  color: white;
  font: 18px;
}

.name-input form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px;
}

.name-input input {
  width: 90%;
  height: 50px;
  margin: 25px;
}

.confirm-button {
  border: 3px solid white;
  height: 50px;
  background-color: darkblue;
  color: white;
  width: 150px;
}
