/*@import '..client/scripts/components/character/_character.css';*/

html {
  font-family: Arial;
}

.error-message {
  color: red;
  font-weight: bold;
}

/*Dashboard component CSS*/
.dashboard {
  display: flex;
  flex-direction: column;
  background-color: lightblue;
}

.dashboard .character-render {
  display: flex;
}

/*Character component CSS*/
.character {
  background-color: blue;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  color: white;
  border-radius: 15px;
  margin: 10px;
  width: 320px;
}

.character .options-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.character .options-submenu {
  color: black;
}

.character .options-button {
  border-radius: 10px;
  font-size: 15px;
  border: none;
  width: 300px;
  height: 50px;
  background-color: white;
  margin: 5px;
}

/*Elite component CSS*/
.elite .options-menu {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: flex-start;
 }

 .elite .options-button {
   border-radius: 5px;
   font-size: 20px;
   border: solid 4px;
   width: 300px;
   height: 100px;
   background-color: white;
   margin: 5px;
 }

/*Render component CSS*/
.render {
  width: 500px;
  height: 500px;
  background-color: white;
  text-align: center;
  vertical-align: middle;
  line-height: 500px
}

/*Bottom Nav Component CSS*/
.bottom-nav {
  display: flex;
  justify-content: center;
}

.bottom-nav .store-button {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  border: 5px solid red;
  color: red;
  font-size: 20px;
  background-color: white;
}

.bottom-nav .back-button {
  font-size: 15px;
  height: 100px;
  width: 100px;
  border: 5px solid black;
  background-color: white;
}

.bottom-nav .next-button {
  font-size: 15px;
  height: 100px;
  width: 100px;
  border: 5px solid black;
  background-color: white;
}

/*Nav component CSS*/
.nav {
  display: flex;
  align-items: center;
}

.main-menu-button {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  border: 5px solid black;
  color: black;
  font-size: 20px;
  background-color: white;
  margin: 5px;
}

/*Music component CSS*/
.music-button {
  height: 70px;
  width: 70px;
  border-radius: 50%;
  border: 5px solid black;
  color: black;
  font-size: 12px;
  background-color: white;
  margin: 5px;
}

/*Welcome component CSS*/
.welcome {
  text-align: center;
}

/*Menu component CSS*/
.menu {
  display: block;
  flex-direction: column;
  background-color: lightgreen;
  justify-content: center;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  height: 390px;
  width: 380px;
  border-radius: 15px;
  border: 5px solid white;
  color: white;
  font: 18px;
}

.menu-inside {
  margin: 30px;
}

.main-menu-options {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.menu-button {
  background-color: green;
  color: white;
  width: 300px;
  height: 50px;
  font: 25px arial, sans-serif;
  margin: 10px 10px 3px;
  border: none;
}

.menu .back-button {
  border: none;
  background-color: white;
  width: 80px;
  height: 20px;
  margin: 10px;
}

.menu .menu-nav {
  display: flex;
  justify-content: center;
  align-items: baseline;
}

/*User Sign Out component CSS*/
.sign-out-button {
  border: none;
  background-color: white;
  width: 80px;
  height: 20px;
  margin: 10px;
}

/*Career component CSS*/
.career {
  background-color: burlywood;
}

.career-render {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  margin: 10px;
}

.career-menu {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  width: 100%;
}

.career-button {
  font-size: 15px;
  height: 100px;
  width: 100px;
  border: none;
  background-color: white;
  margin: 15px;
}

.career .render {
  color: black;
}
