.store-cart-option {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.store-cart-option .item-image {
  border-radius: 10px;
  background-color: white;
  width: 110px;
  height: 110px;
  margin: 5px;
}

.store-cart-option .item-name {
  height: 100px;
  width: 200px;
  background-color: khaki;
  margin: 5px;
}

.store-cart-option .item-price {
  height: 100px;
  width: 100px;
  background-color: khaki;
  margin: 5px;
}

.store-cart-option .remove-item {
  height: 50px;
  background-color: white;
  width: 50px;
  border: none;
}
