.elite-menu-option {
  border-radius: 10px;
  background-color: white;
  width: 110px;
  height: 110px;
  margin: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.elite-items-text {
  text-align: center;
}
