<div class="elite-menu-option">
  <!-- Category that was clicked: {{$ctrl.category}} -->
  <span ng-repeat="option in $ctrl.options">{{option.name}}</span>
  <!-- <div class="options-menu">
    <button class="options-button"
            ng-repeat="(category, optionsList) in $ctrl.allOptions"
            ng-click="$ctrl.showOption(category)">
            {{ category }}
    </button>
  </div>

  <div class="options-submenu">
    <ul>
      <li ng-repeat="option in $ctrl.visibleOptions">
        {{option.name}}
      </li>
    </ul>
    <button class="done-button" ng-click="">
      Done
    </button>
  </div> -->
</div>
