<div class="login">
  [LOGIN]
  <form role="login-form">
    <div class="form-group">
      <input type="email"
             name="email"
             placeholder="EMAIL"
             ng-model="$ctrl.loginForm.email"
             required
             class="form-control"/>
    </div>

    <div class="form-group">
      <input type="password"
             name="password"
             placeholder="PASSWORD"
             ng-model="$ctrl.loginForm.password"
             required
             class="form-control"/>
      <span class="error-message">{{ $ctrl.errorMessage }}</span>
    </div>

  <div class="cancel-submit">
    <button class="submit-button"
            ui-sref="home">CANCEL</button>

    <button type="submit"
            class="submit-button"
            ng-click="$ctrl.login()">SUBMIT</button>
  </div>

    <span>OR</span>

    <div class="social-login">
      <button ng-click="$ctrl.loginSocial('facebook')">
        [FACEBOOK LOGIN]
      </button>
      <button ng-click="$ctrl.loginSocial('google')">
        [GOOGLE LOGIN]
      </button>
      <button ng-click="$ctrl.loginSocial('twitter')">
        [TWITTER LOGIN]
      </button>
    </div>
  </form>

  <div class="register-account">
    DON'T HAVE AN ACCOUNT?
    <button class="register-button"
            type="button"
            ng-click="$ctrl.toggleReg()">NEW ACCOUNT</button>
  </div>
  <div class="forgot-password">
    FORGOT PASSWORD?
    <button class="request-password-button"
            type="button"
            ui-sref="request-password">REQUEST PASSWORD RESET</button>
  </div>
</div>
