.store-cart {
  display: block;
  flex-direction: column;
  background-color: yellow;
  justify-content: center;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  height: 500px;
  width: 800px;
  border-radius: 15px;
  border: 5px solid black;
  color: black;
  font: 18px;
  z-index: 25;
  padding: 20px;
}

.store-cart .store-cart-options {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.store-cart .store-cart-left {
  display: flex;
  flex-direction: column;
}

.store-cart .store-cart-right {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: relative;
  width: 300px;
  height: 450px;
  background-color: white;
  border-radius: 15px;
}

.store-cart .checkout-button {
  border: 3px solid goldenrod;
  height: 50px;
  background-color: white;
  width: 150px;
}
