.store-cart .store-cart-options {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.store-cart .store-cart-left {
  display: flex;
  flex-direction: column;
}

.store-cart .store-cart-right {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: relative;
  width: 300px;
  height: 450px;
  background-color: white;
  border-radius: 15px;
}

.store-cart .checkout-button {
  border: 3px solid goldenrod;
  height: 50px;
  background-color: white;
  width: 150px;
}

.store-cart .store-back-button {
  position: absolute;
  top: -40px;
  right: -25px;
}
