<div class="store-cart">
  Cart

  <div class="store-cart-options">
    <div class="store-cart-left">
      <store-cart-option></store-cart-option>
    </div>

    <div class="store-cart-right">
      <div class="cart-total">
        [CART TOTAL CALCULATIONS]
      </div>
      <button class="checkout-button"
              type="button"
              ng-click="">[CHECKOUT BUTTON]</button>
    </div>
  </div>

  <store-back-button
          on-click="$ctrl.onBackButton()"></store-back-button>
<div>
