.home {
  background-color: lightgrey;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  justify-content: center;
}

.enter-button {
  border: 3px solid white;
  height: 50px;
  background-color: lightblue;
  color: white;
  width: 200px;
}
