<h2>Update Password Page</h2>
<form role="form">
  <div class="form-group">
    <label>new password</label>
    <input type="password" name="password" ng-model="$ctrl.updatePasswordForm.password" required="required" class="form-control">
  </div>

  <div class="form-group">
    <label>password confirmation</label>
    <input type="password" name="password_confirmation" ng-model="$ctrl.updatePasswordForm.password_confirmation" required="required" class="form-control">
  </div>

  <button type="submit" class="btn btn-primary btn-lg" ng-click="$ctrl.updatePasswordButton()">Change your password</button>
</form>
