<user-sign-out></user-sign-out>
<button class="main-menu-button"
        type="button"
        ui-sref="menu">Main Menu</button><br>
<music></music>

<h2>Name</h2>

Please name your kittizen:
<form>
  Name:<br>
  <input type="text" name="name">
  <br>
  <button class="career-button"
  type="button">Confirm</button>
</form>

Above will likely be a modal eventually. <br>
After clicking Confirm, user should see their character with career/background, name, and <br>
automatically given an 8 digit Kittizen ID number. <br>
Should this be a callback to "character" component, or a new one?

<h2>Nav Buttons</h2>
<button class="back-button"
        type="button"
        ui-sref="career">Back</button>
<button class="store-button"
        type="button"
        ui-sref="store">Store</button>
<button class="next-button"
        type="button"
        ui-sref="save">Save</button>
