.trait-menu-option {
  color: black;
  border-radius: 10px;
  font-size: 15px;
  border: none;
  width: 300px;
  height: 50px;
  background-color: white;
  margin: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.trait-options {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 290px;
}

.trait-button {
  position: relative;
  top: -8px;
}
