<div class="trait-menu-option">
  {{$ctrl.category}}

  <div class="trait-options">
    <img class="trait-button"
          ng-click="$ctrl.showPrev()"
          src="/assets/buttons/kk_button_selectblue_left.png"></img>
    <span class="trait-name"
          ng-repeat="option in $ctrl.options"
          ng-show="$ctrl.isCurrent($index)">{{option.name}}</span>
    <img class="trait-button"
          ng-click="$ctrl.showNext()"
          src="/assets/buttons/kk_button_selectblue.png"></img>
  </div>
</div>
