<!-- This should be a modal -->MODAL
<h2>Save and Export As:</h2>

<h3>Avatar</h3>
  IMAGE <br>
  <button class="export-button"
          type="button">Download</button>
  <button class="export-button"
          type="button">Share on Facebook</button>
  <button class="export-button"
          type="button">Share on Twitter</button>

<h3>ID Card</h3>
  IMAGE <br>
  <button class="export-button"
          type="button">Download</button>
  <button class="export-button"
          type="button">Share on Facebook</button>
  <button class="export-button"
          type="button">Share on Twitter</button>

<h3>Wallpaper</h3>
  IMAGE <br>
  <button class="export-button"
          type="button">Download</button>
  <button class="export-button"
          type="button">Share on Facebook</button>
  <button class="export-button"
          type="button">Share on Twitter</button>

<h3>GIF</h3>
  IMAGE <br>
  <button class="export-button"
          type="button">Download</button>
  <button class="export-button"
          type="button">Share on Facebook</button>
  <button class="export-button"
          type="button">Share on Twitter</button>

<br><br>
Button to close out modal and return to completed character page? <br>
<button class="export-button"
        type="button"
        ui-sref="name">Done</button>
