<div class="save">
  <div class="save-module">
    [SAVE & EXPORT AS]
    <div class="save-options">

      <div class="avatar">
        <div class="export-image">
          [RENDER AVATAR: 1:1 JPG]
        </div>
        <button class="export-button"
                type="button">DL</button>
        <button class="export-button"
                type="button">FB</button>
        <button class="export-button"
                type="button">TW</button>
      </div>

      <div class="idcard">
        <div class="export-image">
          [RENDER ID: 1:1 JPG]
        </div>
        <button class="export-button"
                type="button">DL</button>
        <button class="export-button"
                type="button">FB</button>
        <button class="export-button"
                type="button">TW</button>
      </div>

      <div class="wallpaper">
        <div class="export-image">
          [RENDER WALLPAPER: 16X9 JPG]
        </div>
        <button class="export-button"
                type="button">DL</button>
        <button class="export-button"
                type="button">FB</button>
        <button class="export-button"
                type="button">TW</button>
      </div>

      <div class="gif">
        <div class="export-image">
          [RENDER GIF: 1:1 GIF]
        </div>
        <button class="export-button"
                type="button">DL</button>
        <button class="export-button"
                type="button">FB</button>
        <button class="export-button"
                type="button">TW</button>
      </div>
    </div>

    <button class="done-button"
            type="button"
            ui-sref="">DONE</button>
  </div>
</div>
