.elite .options-menu {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: flex-start;
 }

 .elite .options-button {
   border-radius: 5px;
   font-size: 20px;
   border: solid 4px;
   width: 300px;
   height: 100px;
   background-color: white;
   margin: 5px;
 }

.elite-show-items {
  background-color: orange;
  border-radius: 15px;
  width: 300px;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.elite-title {
  color: red;
  font-weight: bold;
}

.elite-options-menu {
  display: flex;
  flex-direction: column;
  flex-flow: wrap;
  overflow-x: hidden;
  overflow-y: scroll;
  height: 479px;
}

.elite .done-button {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 5px solid darkorange;
}
