<div class="elite">
  <div class="options-menu">
    <button class="options-button"
            ng-repeat="(category, optionsList) in $ctrl.allOptions"
            ng-click="$ctrl.showOption(category)">
            {{ category }}
    </button>
  </div>

  <!-- <div class="options-submenu">
    <ul>
      <li ng-repeat="option in $ctrl.visibleOptions">
        {{option.name}}
      </li>
    </ul>
  </div> -->

  <elite-menu-option
    ng-show="$ctrl.showElite"
    ng-repeat="(category, optionsList) in $ctrl.allOptions"
    category="category"
    options="optionsList"
    on-Toggle="$ctrl.toggleElite()">
  </elite-menu-option>
</div>
