<div class="elite">
  <div class="options-menu" ng-hide="$ctrl.showElite">
    <button class="options-button"
            ng-repeat="(category, optionsList) in $ctrl.allOptions"
            ng-click="$ctrl.showOption(category)">
            {{ category }}
    </button>
  </div>

  <div ng-show="$ctrl.showElite" class="elite-menu-options">
    <elite-menu-option
      ng-repeat="option in $ctrl.visibleOptions"
      option="option">
      <!-- on-select="$ctrl.optionSelect()"> -->
    </elite-menu-option>
    <button class="done-button" ng-click="$ctrl.toggleElite()">
      Done
    </button>
  </div>
</div>
