.store {
  display: block;
  flex-direction: column;
  background-color: yellow;
  justify-content: center;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  height: 500px;
  width: 800px;
  border-radius: 15px;
  border: 5px solid black;
  color: black;
  font: 18px;
  z-index: 25;
  padding: 20px;
}

.store .store-left {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 490px;
  overflow-x: hidden;
  overflow-y: scroll;
}

.store .store-options {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.store .store-right {
  display: flex;
  flex-direction: column;
}

.store .add-to-cart-button {

}

.store .cart-button {
  position: absolute;
  bottom: 15px;
  right: 15px;
  height: 75px;
  width: 75px;
  border-radius: 50%;
  border: 5px solid goldenrod;
  background-color: white;
}

.store .store-back-button {
  position: absolute;
  top: -40px;
  right: -25px;
}
