<h2>Store for Elite Items</h2>

<button class="character-button"
        type="button">Gender</button>
  <select>
    <option>Male</option>
    <option>Female</option>
    <option>Neutral</option>
  </select>

<br>
<button class="character-button"
        type="button">Species</button>
  <select>
    <option>Siamese $$</option>
    <option>Persian $$$</option>
    <option>Abyssinian $</option>
    <option>Ragamuffin $$$$$</option>
    <option>Main Coon $</option>
  </select>

<br>
<button class="character-button"
        type="button">Eye Color</button>
  <select>
    <option>Red $</option>
  </select>

<br>
<button class="character-button"
        type="button">Eye Type</button>
  <select>
    <option>Normal/Smart $$</option>
    <option>Walleyed $</option>
    <option>Crosseyed $</option>
    <option>Evil/Slitted $$$$</option>
  </select>

<br>
<button class="character-button"
        type="button">Nose Color</button>
  <select>
    <option>Grey Spotted $$</option>
    <option>Red Spotted $$</option>
  </select>

<br>
<button class="character-button"
        type="button">Kissiepie (Mouth/Nose)</button>
  <select>
    <option>Rest $$$</option>
    <option>Smile $$$</option>
    <option>Yeah! (open) $$$</option>
    <option>Smile-Cry $</option>
  </select>

<br>
<button class="character-button"
        type="button">Body Type</button>
  <select>
    <option>Biskit $$$</option>
    <option>Normal</option>
  </select>

<br>
<button class="character-button"
        type="button">Outfits</button>
  <select>
    <option>Cowboy $$$</option>
    <option>Big Big Muscles $</option>
    <option>Dress $$$</option>
  </select>

<br>
<button class="character-button"
        type="button">Items</button>
  <select>
    <option>Briefcase $$</option>
    <option>Pencil $</option>
    <option>Ball $$</option>
    <option>Sign $$$</option>
  </select>

<h2>Nav Buttons</h2>
<button class="back-button"
        type="button"
        ui-sref="dashboard">Back</button>
<button class="store-button"
        type="button"
        ui-sref="">Cart</button>
