<div class="store">
  Store for Elite Items

  <div class="store-options">
    <div class="store-left">
      <span ng-repeat="(category, options) in $ctrl.allOptions">
        <store-option
          ng-repeat="(key, value) in options"
          category="key"
          option="value">
        </store-option>
      </span>
    </div>

    <div class="store-right">
      <store-item-render></store-item-render>
      <store-item-description></store-item-description>
    </div>
  </div>

  <button class="cart-button"
          type="button"
          ng-click="$ctrl.toggleCart()">[CART BUTTON]</button>

  <store-cart ng-show="$ctrl.showCart"
              on-toggle="$ctrl.toggleCart()"></store-cart>

  <store-back-button
    on-click="$ctrl.onToggle()"></store-back-button>
<div>
