<div class="store">
  Store for Elite Items

  <div class="store-options-menu">
    <store-option
      ng-repeat="(category, option) in $ctrl.allOptions"
      category="category"
      option="option">
    </store-option>
  </div>

  <button class="store-back-button"
          type="button"
          ng-click="$ctrl.onToggle()">BACK</button>

  <button class="add-to-cart-button"
          type="button"
          ng-click="">[ADD TO CART BUTTON]</button>

  <button class="cart-button"
          type="button"
          ng-click="$ctrl.toggleCart()">[CART BUTTON]</button>

  <store-cart ng-show="$ctrl.showCart"
              on-toggle="$ctrl.toggleCart()"></store-cart>
<div>
