<div class="request-password">
  <form role="password-form">
  FORGOT PASSWORD? ENTER YOUR EMAIL
    <div class="form-group">
      <input type="email"
             name="email"
             placeholder="EMAIL"
             ng-model="$ctrl.pwdResetForm.email"
             required
             class="form-control"/>
      <span class="error-message">{{ $ctrl.errorMessage }}</span>
    </div>
  </form>

  <div class="cancel-submit">
    <button type="submit"
            class="submit-button"
            ui-sref="login">CANCEL</button>

    <button type="submit"
            class="submit-button"
            ng-click="$ctrl.passwordResetButton()">SUBMIT</button>
  </div>
</div>
