<h2>Registration Page</h2>
<form role="form">
  <div class="form-group">
    <label>email</label>
    <input type="email"
           name="email"
           ng-model="$ctrl.registrationForm.email"
           required
           class="form-control"/>
  </div>

  <div class="form-group">
    <label>password</label>
    <input type="password"
           name="password"
           ng-model="$ctrl.registrationForm.password"
           required
           class="form-control"/>
  </div>

  <div class="form-group">
    <label>password confirmation</label>
    <input type="password"
           name="password_confirmation"
           ng-model="$ctrl.registrationForm.password_confirmation"
           required
           class="form-control"/>
    <br><span class="error-message">{{ $ctrl.errorMessage }}</span>
  </div>

  <button type="submit"
          class="btn btn-primary btn-lg"
          ng-click="$ctrl.register()">Register</button>

  <div class="form-group">
    <label>or</label>
    <button ng-click="$ctrl.registerSocial('facebook')">
      Register with Facebook
    </button>
    <button ng-click="$ctrl.registerSocial('google')">
      Register with Google
    </button>
    <button ng-click="$ctrl.registerSocial('twitter')">
      Register with Twitter
    </button>
  </div>
</form>

<div class="login-account">
  <label>Have an account?</label>
  <button class="login-button"
          type="button"
          ui-sref="login">Login</button>
</div>
