<h2>Registration Page</h2>
<form ng-submit="$ctrl.submit()" role="form">
  <div class="form-group">
    <label>email</label>
    <input type="email" name="email" ng-model="$ctrl.registrationForm.email" required="required" class="form-control"/>
  </div>

  <div class="form-group">
    <label>password</label>
    <input type="password" name="password" ng-model="$ctrl.registrationForm.password" required="required" class="form-control"/>
  </div>

  <div class="form-group">
    <label>password confirmation</label>
    <input type="password" name="password_confirmation" ng-model="$ctrl.registrationForm.password_confirmation" required="required" class="form-control"/>
  </div>

  <button type="submit" class="btn btn-primary btn-lg">Register</button>

  <div class="form-group">
    <label>or</label>
    <button ng-click="authenticate('facebook')">
      Register with Facebook
    </button>
    <button ng-click="authenticate('google')">
      Register with Google
    </button>
    <button ng-click="authenticate('twitter')">
      Register with Twitter
    </button>
  </div>
</form>

<div class="login-account">
  <label>Have an account?</label>
  <button class="login-button" type="button" ng-click="$ctrl.openUserLogin()">Login</button>
</div>
