<div class="character">
  <div class="options-menu">
    <button class="options-button"
            ng-repeat="(category, optionsList) in $ctrl.allOptions"
            ng-click="$ctrl.showOption(category)">
            {{ category }}
    </button>
  </div>

  <div class="options-submenu">
    <ul>
      <li ng-repeat="option in $ctrl.visibleOptions">
        {{option.name}}
      </li>
    </ul>
    <button class="done-button" ng-click="">
      Done
    </button>
  </div>
</div>

<!--
<h2>Elite Items</h2>
<section>
  <button class="character-button"
        type="button">Elite Items 1</button>
  <select>
    <option>Briefcase</option>
    <option>ID</option>
    <option>Ice Cream Cone</option>
    <option>Slingshot</option>
    <option>Pencil</option>
    <option>Ball</option>
    <option>Sign</option>
  </select>
</section>
<section>
  <button class="character-button"
        type="button">Elite Items 2</button>
  <select>
    <option>Briefcase</option>
    <option>ID</option>
    <option>Ice Cream Cone</option>
    <option>Slingshot</option>
    <option>Pencil</option>
    <option>Ball</option>
    <option>Sign</option>
  </select>
</section>
<section>
  <button class="character-button"
        type="button">Elite Items 2</button>
  <select>
    <option>Briefcase</option>
    <option>ID</option>
    <option>Ice Cream Cone</option>
    <option>Slingshot</option>
    <option>Pencil</option>
    <option>Ball</option>
    <option>Sign</option>
  </select>
</section> -->

<!--  Back Button should be greyed out on this page -->
<div class="bottom-nav">
  <button class="back-button"
          type="button"
          ui-sref="">BACK</button>
  <button class="store-button"
          type="button"
          ui-sref="store">STORE</button>
  <button class="next-button"
          type="button"
          ui-sref="career">CAREER</button>
</div>
