<h2>Character</h2>

<button class="character-button"
        type="button">Species</button>
<button class="character-button"
        type="button">Eyes</button>
<button class="character-button"
        type="button">Nose</button>
<button class="character-button"
        type="button">Mouth</button>
<button class="character-button"
        type="button">Body Type</button>
<button class="character-button"
        type="button">Clothes</button>
<button class="character-button"
        type="button">Items</button>
