<h2>Login Page</h2>
<form role="form">
  <div class="form-group">
    <label>email</label>
    <input type="email"
           name="email"
           ng-model="$ctrl.loginForm.email"
           required
           class="form-control"/>
  </div>

  <div class="form-group">
    <label>password</label>
    <input type="password"
           name="password"
           ng-model="$ctrl.loginForm.password"
           required
           class="form-control"/>
    <br><span class="error-message">{{ $ctrl.errorMessage }}</span>
  </div>

  <button type="submit"
          class="btn btn-primary btn-lg"
          ng-click="$ctrl.login()">Sign in</button>

  <div class="form-group">
    <label>or</label>
    <button ng-click="$ctrl.loginSocial('facebook')">
      Sign in with Facebook
    </button>
    <button ng-click="$ctrl.loginSocial('google')">
      Sign in with Google
    </button>
    <button ng-click="$ctrl.loginSocial('twitter')">
      Sign in with Twitter
    </button>
  </div>
</form>

<div class="register-account">
  <label>Don't have an account?</label>
  <button class="register-button"
          type="button"
          ui-sref="register">Register</button>
</div>
<div class="forgot-password">
  <label>Forgot password?</label>
  <button class="request-password-reset"
          type="button"
          ui-sref="request-password">Request Password Reset</button>
</div>
